/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
    margin-top:5rem;
    background-color:white;
}


.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
    background-color: blue;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

.nav ul {
    padding-right:20px;
    margin-right:100px;
    text-align:right;
    }

nav{
    font-family:'Andika', sans-serif;

    
}



body{
    font-family: 'Oranienbaum', serif;
}

